<%- include('partial/header') %>

    <div class="my-5 shadow p-5 w-50 mx-auto rounded">
        <% if(message){ %>
            <h1>
                <%= message %>
            </h1>
            <% }else{ %>
                <h1>page not found!</h1>
                <% } %>
    </div>

    <%- include('partial/footer') %>