<%- include('partial/header') %>

    <form action="/add-data" method="POST" class="my-5 shadow p-5 w-50 mx-auto rounded">
        <label for="" class="form-label">Enter Name</label>
        <input type="text" class="form-control" name="name">
        <label for="" class="form-label">Enter Age</label>
        <input type="number" class="form-control" name="age">
        <label for="" class="form-label">Enter Email</label>
        <input type="email" class="form-control" name="email">
        <label for="" class="form-label">Enter Phone</label>
        <input type="number" class="form-control" name="phone">
        <br>
        <input type="submit" class="btn btn-success">
        <a href="/" style="all:unset">
            <button type="button" class="ms-2 btn btn-outline-secondary">
                cancel</button>
        </a>
    </form>

    <%- include('partial/footer') %>