.login-form {
    width: 100%;
    max-width: 500px;
}

.login-div {
    min-height: 110vh;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-dark:hover {
    background-color: #343a40;
}