<header class="farmhouse-header">
    <nav class="navbar navbar-expand-lg">
        <div class="head-div ">
            <a class="navbar-brand" href="/">
                <i class="fas fa-leaf brand-icon"></i>
                <span class="brand-name">Paradise Villa</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home me-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            <i class="fas fa-leaf me-1"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">
                            <i class="fab fa-servicestack me-1"></i> Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">
                            <i class="fas fa-calendar-alt me-1"></i> Booking
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">
                            <i class="fas fa-phone-alt me-1"></i> Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">
                            <i class="fas fa-images me-1"></i> Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="/login">
                            <i class="fas fa-user me-1"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="/signup">
                            <i class="fas fa-user me-1"></i> Signup
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>